						<div class="breadcrumb">
							<ul class="breadcrumb">
								<li><s:a href="../Servers"><s:text name="i18n.server.bc.allServers" /></s:a></li>
								
								<li> | <s:text name="i18n.server.bc.shutdownServer">
									<s:param><s:property value="serverName" /></s:param>
								</s:text></li>
							</ul>
						</div>
						