						<div class="breadcrumb">
							<ul class="breadcrumb">
								<li><s:a href="../Packages"><s:text name="i18n.package.bc.allPackages" /></s:a></li>
								<li> | <s:text name="i18n.package.bc.createPackages" /></li>
							</ul>
						</div>
						