						<div class="breadcrumb">
							<ul class="breadcrumb">
								<li><s:a href="../Packages"><s:text name="i18n.package.bc.allPackages" /></s:a></li>
								<li> | <s:text name="i18n.package.bc.viewPackage">
									<s:param><s:property value="%{package.toString()}" /></s:param>
								</s:text></li>
							</ul>
						</div>
						