							<div id="leftNav">
								<h3 id="leftNavTitle">
									<br />
									<s:text name="i18n.servers" />
								</h3>
								
								<div>
									<div id="departListLeft1">
										<div>
											<s:if test="hasPermission('Root')">
												<div class="accord">
													<s:a href="Update" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
														<s:text name="i18n.server.header.updateSelected" />
													</s:a>
												</div>
												
												<div class="departListLeft2">
													<s:a href="Server/shutdownAll" onclick="cancelPageRefresher(); return true;"><s:text name="i18n.server.action.shutdownAll" /></s:a>
													<s:a href="Server/clearShutdown" onclick="cancelPageRefresher(); return true;"><s:text name="i18n.server.action.clearShutdown" /></s:a>
												</div>
											</s:if>
										</div>
									</div>
								</div>
							</div>
							