							<div id="leftNav">
								<h3 id="leftNavTitle">
									<br />
									<s:text name="i18n.servers" />
								</h3>
								
								<div>
									<div id="departListLeft1">
										<div>
											<s:if test="hasPermission('Root')">
												<div class="accord">
													<s:a href="Apply" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
														<s:text name="i18n.server.header.apply" />
													</s:a>
												</div>
												
												<div class="departListLeft2">
													<s:a href="shutdown" onclick="realShutdown.submit(); return false;"><s:text name="i18n.server.action.shutdown" /></s:a>
													<s:a href="../Servers"><s:text name="i18n.server.action.cancel" /></s:a>
												</div>
											</s:if>
										</div>
									</div>
								</div>
							</div>
							