#anylinkmenu {
width: 160px;background-color:##C60307;
}

.anylinkcss{
position:absolute;
visibility: hidden;
border:1px solid #F4F4F4;
border-bottom-width: 0;
font:normal 12px Arial;
line-height: 18px;
z-index: 100;
background-color: #C60307;
line-height:18px;
z-index:100;
color: #1F2847;
width: 100%;
}

.anylinkcss a{
color: #1F2847;
width: 100%;
display: block;
text-indent: 3px;
border-bottom: 1px solid #F4F4F4;
padding: 5px 0;
text-decoration: none;


}

.anylinkcss a:hover{ /*hover background color*/
color: #C60307;
width: 100%;
display: block;
text-indent: 3px;
border-bottom: 1px solid #F4F4F4;
padding: 5px 0;
text-decoration: none;
background-color:#FFFFFF;
}