@CHARSET "UTF-8";

/* These first three blocks will be overridden by cssgen.jsp, which determines
 * the appropriate sizes for the UI objects based on the user's window size.
 */

#leftNav {
	height: 388px;
	
	width: 145px;
	
	padding-top: 10px;
	padding-right: 15px;
	
	float: left;
}

#content {
	height: 338px;
	
	width: 788px;
	
	float: left;
	background-color: white;
	margin-top: 0px;
	padding-top: 40px;
	padding-right: 20px;
	padding-left: 20px;
}

div.frame {
	max-height: 318px;
	
	overflow: auto;
}

body {
	font-family: Arial, Helvetica, Sans-Serif;
}

#banner {
	background-image: url('../images/banner.jpg');
}

#nav-bar {
	background-image: url('../images/navbar.jpg');
}

#redbar {
	background-image: url('../images/redbar.jpg');
}

#footer {
	background-image: url('../images/footerbar.jpg');
}

ul.links li {
	background-image: url('../images/gray-arrow.jpg');
}

ul#contentNav-Links li {
	background-image: url('../images/blackarrow.jpg');
}

#container-nav {
	height: 35px;
}

#twocolumn {
	width: 1003px;
	height: 100%;
	background-color: white; 
}

#threecolumn {
	background: url('../images/page-bg.jpg') repeat-y left;
}

ul.errorMessage li {
	color: #CC0104;
	font-size: 16px;
}

#menu {
	padding: 15px 0px 2px 0px;
}

#leftNavTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #CC3300;
	padding-bottom: 10px;
}

div.accord a {
	text-decoration: none;
}

#clearBottom {
	clear: both;
	margin: 0px;
	padding: 0px;
}

table th {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding: 3px;
	
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
}

table tr:first-child th {
	border-top: 0px;
}

table tr th:first-child {
	border-left: 0px;
}

table td {
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	padding: 2px;
	
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
}

table tr td:first-child {
	border-left: 0px;
}

th.separator {
	text-align: center;
}

tr.normal {
	background-color: #bbffbb;
}

tr.stale {
	background-color: #ffffff;
}

tr.warning {
	background-color: #ffff99;
}

tr.failure {
	background-color: #ff9999;
}

#pagenav {
	font-weight: normal;
	padding: 4px;
	width: 100%;
	height: 18px;
	border: 0px;
}

#pagenav tr {
	width: 100%;
	border: 0px;
}

#pagenav td {
	border: 0px;
}

#pagenav a {
	font-size: 12px;
	text-decoration: none;
	color: #CC3300;
}

#pagenav a:hover {
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	color: #CC3300;
}

#pagenav td.selections {
	text-align: left;
	width: 50%;
}

#pagenav td.moveForward, td.moveBack, td.pageNumber {
	text-align: center;
	width: 16.67%;
}

textarea {
	font-size: 12pt;
	font-family: Courier New, Monotype;
}

p {
	font-size: 14pt;
}

label.label {
	font-style: normal;
}

td.tdLabel {
	text-align: left;
}

div.licenseExpires,
div.licenseExpiresUrgent {
	margin-top: 12px;
	color: #BBFFBB;
}

div.licenseExpiresUrgent {
	color: #ffff99;
	font-variant: small-caps;
	font-weight: bold;
}

/* Repair our changes that affect the JQuery DatePicker widget */ 
div.ui-datepicker {
	font-size: 160%;
}

/* Theme the JQuery DatePicker widget to match the Sixnet color scheme */
div.ui-widget-header {
	background: #CC0000 url('../images/ui-bg_highlight-soft_75_cc0000_1x100.jpg') repeat-x scroll 50% 50%;
}
