/*SIXNET Dropdown CSS Document */
#container-nav {
	width: 981px;
	text-align: left;
	margin: 0;
	padding:0;
	z-index: 12;
	
}
#nav {
	padding: 8px;
}

#nav, #nav ul {        
	list-style: none;
	vertical-align: middle;
	position:inherit; 
}

#nav a {
	padding: 5px;
	display: block;    
	font: 12px Arial, Helvetica, sans-serif; 
	font-weight:bold;
	color:#FFFFFF;
	text-decoration:none;	
	z-index: 12;
} 

#nav a:hover { 
	color:#000000;

}
	
#nav li {     
	float: left;     
	line-height: 17px;	
	vertical-align: middle;
	margin-right:20px;
}  
 
#nav li ul {     
	position: absolute;    
	width: 183px;     
	left: -999em; 
	line-height: 15px;	
	background: #FFFFFF;
	height: auto;
	border: #bd423c solid 2px;
	margin-left:.7em;
} 

#nav li ul li {        
	 width: 183px;
	 vertical-align: middle;
	 border-bottom: #7f9ca2 solid 1px; 
	 background: #bd423c;
	 padding-top:5px;
	 padding-bottom:5px;
}

#nav li:hover ul, #nav li.sfhover ul {     
	left: auto;
}
	
#nav li ul ul {
     margin: -18px 0 0 183px; 
	 width: 183px;
	 background: #c90102;
	 border-bottom: #89171b solid 2px;
} 


#nav li ul li, #nav li ul ul li
{
	padding-top: .2em; 
	border-bottom: #7f9ca2 solid 1px;
	color: #FFFFFF;
	background: #c90102;
	width: 183px; 
	z-index: 12;
}

#nav li ul li a, #nav li ul ul li a{
	width: 168px;
	padding-left:.2em;
	padding-bottom: 0;
	padding-top: 0;
	color:#FFFFFF;
	z-index: 12;
}

#nav li ul li a:hover, #nav li ul ul li a:hover{
	color:#bd423c;
}

#nav li ul li:hover a, #nav li ul li:hover li:hover a {
	color:#bd423c;
}

#nav li ul li:hover li a {
	color:#ffffff;
	}

#nav, #nav ul {
     padding: 0;
	 margin: 0;     
	 list-style: none;     
	 line-height: 12px;
	 height: auto;
	 z-index: 12;
} 

#nav li:hover ul ul, #nav li.sfhover ul ul {
     left: -999em; 
}

#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul {
     left: auto;
} 

	
#nav li ul li:hover{
	background: #FFFFFF;
	}
	
.daddy {
	background:url(images/rightarrow2.gif) center right no-repeat;
	/*padding-left:2em;*/
	}
#nav li:hover, #nav li.hover {   
   position: static;   
}  