						<div class="breadcrumb">
							<ul class="breadcrumb">
								<li><s:a href="../Settings"><s:text name="i18n.setting.bc.allSettings" /></s:a></li>
								
								<s:if test="settingName == null">
									<li> | <s:text name="i18n.setting.bc.newSetting" /></li>
								</s:if>
								<s:else>
									<li> | <s:text name="i18n.setting.bc.editSetting">
										<s:param><s:property value="settingName" /></s:param>
									</s:text></li>
								</s:else>
							</ul>
						</div>
						