						<div class="breadcrumb">
							<ul class="breadcrumb">
								<li><s:a href="../Modems"><s:text name="i18n.modem.bc.allModems" /></s:a></li>
								
								<li> | <s:a href="view?id=%{id}"><s:text name="i18n.modem.bc.viewModem">
									<s:param><s:property value="modem.label" /></s:param>
								</s:text></s:a></li>
								<li> | <s:a href="viewConfig?id=%{id}"><s:text name="i18n.modem.bc.viewConfigScript">
									<s:param><s:property value="modem.label" /></s:param>
								</s:text></s:a></li>
								<li> | <s:text name="i18n.modem.bc.editConfigScript">
									<s:param><s:property value="modem.label" /></s:param>
								</s:text></li>
							</ul>
						</div>
						