						<div class="breadcrumb">
							<ul class="breadcrumb">
								<li><s:a href="../Modems"><s:text name="i18n.modem.bc.allModems" /></s:a></li>
								<li> | <s:a href="view?id=%{id}"><s:text name="i18n.modem.bc.viewModem">
									<s:param><s:property value="modem.label" /></s:param>
								</s:text></s:a></li>
								<li> | <s:a href="viewVariables?id=%{id}"><s:text name="i18n.modem.bc.viewVariables">
									<s:param><s:property value="modem.label" /></s:param>
								</s:text></s:a></li>
								
								<s:if test="variableName == null">
									<li> | <s:text name="i18n.modem.bc.newVariable" /></li>
								</s:if>
								<s:else>
									<li> | <s:text name="i18n.modem.bc.editVariable">
										<s:param><s:property value="variableName" /></s:param>
									</s:text></li>
								</s:else>
							</ul>
						</div>
						