						<div class="breadcrumb">
							<ul class="breadcrumb">
								<li><s:a href="../Modems"><s:text name="i18n.modem.bc.allModems" /></s:a></li>
								
								<s:if test="id != -1">
									<li> | <s:a href="view.action?id=%{id}"><s:text name="i18n.modem.bc.viewModem">
										<s:param><s:property value="modem.label" /></s:param>
									</s:text></s:a></li>
									<li> | <s:text name="i18n.modem.bc.editModem">
										<s:param><s:property value="modem.label" /></s:param>
									</s:text></li>
								</s:if>
								<s:else>
									<li> | <s:text name="i18n.modem.bc.createModems" /></li>
								</s:else>
							</ul>
						</div>
						