						<div class="breadcrumb">
							<ul class="breadcrumb">
								<li><s:a href="../Modems"><s:text name="i18n.modem.bc.allModems" /></s:a></li>
								
								<li> | <s:text name="i18n.modem.bc.importVars" /></li>
							</ul>
						</div>
						