						<div class="breadcrumb">
							<ul class="breadcrumb">
								<li><s:a href="../Modems"><s:text name="i18n.modem.bc.allModems" /></s:a></li>
								<li> | <s:text name="i18n.modem.bc.viewModem">
									<s:param><s:property value="modem.label" /></s:param>
								</s:text></li>
							</ul>
						</div>
						