							<div id="leftNav">
								<h3 id="leftNavTitle">
									<br />
									<s:text name="i18n.packages" />
								</h3>
								
								<div>
									<div id="departListLeft1">
										<div>
											<s:if test="hasPermission('Enhanced')">
												<div class="accord">
													<s:a href="Update" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
														<s:text name="i18n.package.header.updateThis" />
													</s:a>
												</div>
												
												<div class="departListLeft2">
													<s:a href="delete?selPackageID=%{id.toString(16)}"><s:text name="i18n.package.action.delete" /></s:a>
												</div>
												
												<div class="accord">
													<s:a href="Navigate" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
														<s:text name="i18n.package.header.navigate" />
													</s:a>
												</div>
												
												<div class="departListLeft2">
													<s:a href="create"><s:text name="i18n.package.action.create" /></s:a>
												</div>
											</s:if>
										</div>
									</div>
								</div>
							</div>
							