						<div class="breadcrumb">
							<ul class="breadcrumb">
								<li><s:a href="../Users"><s:text name="i18n.user.bc.allUsers" /></s:a></li>
								
								<s:if test="id != -1">
									<li> | <s:a href="view.action?id=%{id}"><s:text name="i18n.user.bc.viewUser">
										<s:param><s:property value="targetUser.name" /></s:param>
									</s:text></s:a></li>
									<li> | <s:text name="i18n.user.bc.editUser">
										<s:param><s:property value="targetUser.name" /></s:param>
									</s:text></li>
								</s:if>
								<s:else>
									<li> | <s:text name="i18n.user.bc.createUser" /></li>
								</s:else>
							</ul>
						</div>
						