						<div class="breadcrumb">
							<ul class="breadcrumb">
								<li><s:a href="../Users"><s:text name="i18n.user.bc.allUsers" /></s:a></li>
								<li> | <s:text name="i18n.user.bc.enableUser">
									<s:param><s:property value="targetUser.name" /></s:param>
								</s:text></li>
							</ul>
						</div>
						