						<div class="breadcrumb">
							<ul class="breadcrumb">
								<li>
									<s:a href="Users" onclick="cancelPageRefresher(); return true;">
										<s:text name="i18n.user.bc.allUsers" />
									</s:a>
								</li>
								
								<s:iterator value="filters">
									<li> | <s:a href="Users?%{value[0]}" onclick="cancelPageRefresher(); return true;">
											<s:property value="key" />
										</s:a> ( <s:a href="Users?%{value[1]}">X</s:a>)
									</li>
								</s:iterator>
							</ul>
						</div>
						