						<div class="breadcrumb">
							<ul class="breadcrumb">
								<s:if test="hasPermission('Root')">
									<li><s:a href="../Users"><s:text name="i18n.user.bc.allUsers" /></s:a></li>
									<li> | <s:a href="view?id=%{id}"><s:text name="i18n.user.bc.viewUser">
										<s:param><s:property value="targetUser.name" /></s:param>
									</s:text></s:a></li>
									<li> | <s:text name="i18n.user.bc.changePassword">
										<s:param><s:property value="targetUser.name" /></s:param>
									</s:text></li>
								</s:if>
								<s:else>
									<li><s:a href="view?id=%{id}"><s:text name="i18n.user.bc.viewUser">
										<s:param><s:property value="targetUser.name" /></s:param>
									</s:text></s:a></li>
									<li> | <s:text name="i18n.user.bc.changePassword">
										<s:param><s:property value="targetUser.name" /></s:param>
									</s:text></li>
								</s:else>	
							</ul>
						</div>
						