						<div class="breadcrumb">
							<ul class="breadcrumb">
								<li><s:a href="../Batches"><s:text name="i18n.batch.bc.allBatches" /></s:a></li>
								<li> | <s:text name="i18n.batch.bc.undeleteBatches" /></li>
							</ul>
						</div>
						