						<div class="breadcrumb">
							<ul class="breadcrumb">
								<li><s:a href="../Batches"><s:text name="i18n.batch.bc.allBatches" /></s:a></li>
								<li> | <s:text name="i18n.batch.bc.viewBatch">
									<s:param><s:property value="batch.name" /></s:param>
								</s:text></li>
							</ul>
						</div>
						