							<div id="leftNav">
								<h3 id="leftNavTitle">
									<br />
									<s:text name="i18n.settings" />
								</h3>
								
								<div>
									<div id="departListLeft1">
										<div>
											<s:if test="hasPermission('Root')">
												<div class="accord">
													<s:a href="Navigate" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
														<s:text name="i18n.setting.header.navigate" />
													</s:a>
												</div>
												
												<div class="departListLeft2">
													<s:a href="Setting/edit" onclick="cancelPageRefresher(); return true;"><s:text name="i18n.setting.action.new" /></s:a>
												</div>
											</s:if>
										</div>
									</div>
								</div>
							</div>
							