							<div id="leftNav">
								<h3 id="leftNavTitle">
									<br />
									<s:text name="i18n.users" />
								</h3>
								
								<div>
									<div id="departListLeft1">
										<div>
											<div class="accord">
												<s:a href="Apply" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
													<s:text name="i18n.user.header.apply" />
												</s:a>
											</div>
											
											<div class="departListLeft2">
												<s:a href="enable" onclick="realEnable.submit(); return false;"><s:text name="i18n.user.action.enable" /></s:a>
												<s:a href="view?id=%{id}"><s:text name="i18n.user.action.cancel" /></s:a>
											</div>
										</div>
									</div>
								</div>
							</div>
							