							<div id="leftNav">
								<h3 id="leftNavTitle">
									<br />
									<s:text name="i18n.users" />
								</h3>
								
								<div>
									<div id="departListLeft1">
										<div>
											<s:if test="hasPermission('Root')">
												<div class="accord">
													<s:a href="Update" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
														<s:text name="i18n.user.header.updateSelected" />
													</s:a>
												</div>
												
												<div class="departListLeft2">
													<s:a href="User/disable" onclick="cancelPageRefresher(); Users.action='%{documentRoot}/User/disable'; Users.submit(); return false;"><s:text name="i18n.user.action.disable" /></s:a>
												</div>
												
												<div class="accord">
													<s:a href="Navigate" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
														<s:text name="i18n.user.header.navigate" />
													</s:a>
												</div>
												
												<div class="departListLeft2">
													<s:a href="User/create" onclick="cancelPageRefresher(); return true;"><s:text name="i18n.user.action.create" /></s:a>
												</div>
											</s:if>
										</div>
									</div>
								</div>
							</div>
							