							<div id="leftNav">
								<h3 id="leftNavTitle">
									<br />
									<s:text name="i18n.users" />
								</h3>
								
								<div>
									<div id="departListLeft1">
										<div>
											<s:if test="hasPermission('Root') || getUser().userID == id">
												<div class="accord">
													<s:a href="Update" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
														<s:text name="i18n.user.header.updateThis" />
													</s:a>
												</div>
												
												<div class="departListLeft2">
													<s:if test="hasPermission('Root')">
														<s:a href="edit?id=%{id}"><s:text name="i18n.user.action.edit" /></s:a>
														
														<s:if test="targetUser.enabled">
															<s:a href="disable?selUserID=%{id}"><s:text name="i18n.user.action.disable" /></s:a>
														</s:if>
														<s:else>
															<s:a href="enable?id=%{id}"><s:text name="i18n.user.action.enable" /></s:a>
														</s:else>
													</s:if>
													<s:else>
														<s:a href="passwd?id=%{id}"><s:text name="i18n.user.action.changePassword" /></s:a>
													</s:else>
													
													<s:a href="../Preferences?id=%{id}"><s:text name="i18n.user.action.prefs" /></s:a>
												</div>
											</s:if>
											
											<div class="accord">
												<s:a href="Navigate" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
													<s:text name="i18n.user.header.navigate" />
												</s:a>
											</div>
											
											<div class="departListLeft2">
												<s:if test="hasPermission('Root')">
													<s:a href="create"><s:text name="i18n.user.action.create" /></s:a>
												</s:if>
												
												<s:a href="../Batches?qUserID=%{id}"><s:text name="i18n.user.action.viewBatches" /></s:a>
												<s:a href="../History?qUserID=%{id}"><s:text name="i18n.user.action.viewHistory" /></s:a>
												<s:a href="../Jobs?qUserID=%{id}"><s:text name="i18n.user.action.viewJobs" /></s:a>
												<s:a href="../Logs?qUserID=%{id}"><s:text name="i18n.user.action.viewLogs" /></s:a>
											</div>
										</div>
									</div>
								</div>
							</div>
							