							<div id="leftNav">
								<h3 id="leftNavTitle">
									<br />
									<s:text name="i18n.batches" />
								</h3>
								
								<div>
									<div id="departListLeft1">
										<div>
											<s:if test="hasPermission('Enhanced')">
												<div class="accord">
													<s:a href="Update" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
														<s:text name="i18n.batch.header.updateSelected" />
													</s:a>
												</div>
												
												<div class="departListLeft2">
													<s:a href="Batch/delete" onclick="cancelPageRefresher(); Batches.action='%{documentRoot}/Batch/delete'; Batches.submit(); return false;"><s:text name="i18n.batch.action.delete" /></s:a>
													<s:a href="Batch/undelete" onclick="cancelPageRefresher(); Batches.action='%{documentRoot}/Batch/undelete'; Batches.submit(); return false;"><s:text name="i18n.batch.action.undelete" /></s:a>
												</div>
											</s:if>
										</div>
									</div>
								</div>
							</div>
							