							<div id="leftNav">
								<h3 id="leftNavTitle">
									<br />
									<s:text name="i18n.batches" />
								</h3>
								
								<div>
									<div id="departListLeft1">
										<div>
											<div class="accord">
												<s:a href="Apply" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
													<s:text name="i18n.batch.header.apply" />
												</s:a>
											</div>
											
											<div class="departListLeft2">
												<s:a href="undelete" onclick="realUndelete.submit(); return false;"><s:text name="i18n.batch.action.undelete" /></s:a>
												<s:a href="../Batches"><s:text name="i18n.batch.action.cancel" /></s:a>
											</div>
										</div>
									</div>
								</div>
							</div>
							