							<div id="leftNav">
								<h3 id="leftNavTitle">
									<br />
									<s:text name="i18n.batches" />
								</h3>
								
								<div>
									<div id="departListLeft1">
										<div>
											<s:if test="hasPermission('Enhanced')">
												<div class="accord">
													<s:a href="Update" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
														<s:text name="i18n.batch.header.updateThis" />
													</s:a>
												</div>
												
												<div class="departListLeft2">
													<s:a href="edit?id=%{id}"><s:text name="i18n.batch.action.edit" /></s:a>
													
													<s:if test="batch.deleted">
														<s:a href="undelete?selBatchID=%{id}"><s:text name="i18n.batch.action.undelete" /></s:a>
													</s:if>
													<s:else>
														<s:a href="delete?selBatchID=%{id}"><s:text name="i18n.batch.action.delete" /></s:a>
													</s:else>
												</div>
											</s:if>
											
											<div class="accord">
												<s:a href="Navigate" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
													<s:text name="i18n.batch.header.navigate" />
												</s:a>
											</div>
											
											<div class="departListLeft2">
												<s:a href="%{documentRoot}/Jobs?qBatchID=%{id}">
													<s:text name="i18n.batch.action.viewJobs" />
												</s:a>
												
												<s:a href="%{documentRoot}/History?qBatchID=%{id}">
													<s:text name="i18n.batch.action.viewHistory" />
												</s:a>
											</div>
										</div>
									</div>
								</div>
							</div>
							