						<div class="breadcrumb">
							<ul class="breadcrumb">
								<li>
									<s:a href="Logs"  onclick="cancelPageRefresher(); return true;">
										<s:text name="i18n.log.bc.allLogs" />
									</s:a>
								</li>
								
								<s:iterator value="filters">
									<li> | <s:a href="Logs?%{value[0]}"  onclick="cancelPageRefresher(); return true;">
											<s:property value="key" />
										</s:a> ( <s:a href="Logs?%{value[1]}">X</s:a>)
									</li>
								</s:iterator>
							</ul>
						</div>
					