						<div class="breadcrumb">
							<ul class="breadcrumb">
								<li><s:a href="../Logs"><s:text name="i18n.log.bc.allLogs" /></s:a></li>
								<li> | <s:text name="i18n.log.bc.viewLog">
									<s:param><s:property value="entry.logID" /></s:param>
								</s:text></li>
							</ul>
						</div>
						