<div class="breadcrumb">
							<ul class="breadcrumb">
								<li><s:a href="../Jobs"><s:text name="i18n.job.bc.allJobs" /></s:a></li>
								<li> | <s:text name="i18n.job.bc.deleteJobs" /></li>
							</ul>
						</div>
						