						<div class="breadcrumb">
							<ul class="breadcrumb">
								<li><s:a href="../Jobs"><s:text name="i18n.job.bc.allJobs" /></s:a></li>
								<li> | <s:text name="i18n.job.bc.viewJob">
									<s:param><s:property value="id" /></s:param>
								</s:text></li>
							</ul>
						</div>
								