							<div id="leftNav">
								<h3 id="leftNavTitle">
									<br />
									<s:text name="i18n.modems" />
								</h3>
								
								<div>
									<div id="departListLeft1">
										<div>
											<div class="accord">
												<s:a href="Apply" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
													<s:text name="i18n.modem.header.apply" />
												</s:a>
											</div>
											
											<div class="departListLeft2">
												<s:a href="edit" onclick="update.submit(); return false;"><s:text name="i18n.modem.action.save" /></s:a>
												
												<s:if test="id == -1">
													<s:a href="../Modems"><s:text name="i18n.modem.action.cancel" /></s:a>
												</s:if>
												<s:else>
													<s:a href="view?id=%{id}"><s:text name="i18n.modem.action.cancel" /></s:a>
												</s:else>
											</div>
										</div>
									</div>
								</div>
							</div>
							