							<div id="leftNav">
								<h3 id="leftNavTitle">
									<br />
									<s:text name="i18n.modems" />
								</h3>
								
								<div>
									<div id="departListLeft1">
										<div>
											<div class="accord">
												<s:a href="Update" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
													<s:text name="i18n.modem.header.updateSelected" />
												</s:a>
											</div>
											
											<div class="departListLeft2">
												<s:if test="hasPermission('Enhanced')">
													<s:a href="Modem/delete" onclick="cancelPageRefresher(); Modems.action='Modem/delete'; Modems.submit(); return false;"><s:text name="i18n.modem.action.delete" /></s:a>
													<s:a href="Modem/tag" onclick="cancelPageRefresher(); Modems.action='Modem/tag'; Modems.submit(); return false;"><s:text name="i18n.modem.action.tag" /></s:a>
													<s:a href="Modem/untag" onclick="cancelPageRefresher(); Modems.action='Modem/untag'; Modems.submit(); return false;"><s:text name="i18n.modem.action.untag" /></s:a>
												</s:if>
												
												<s:a href="Job/create" onclick="cancelPageRefresher(); Modems.action='Job/create'; Modems.submit(); return false;"><s:text name="i18n.modem.action.scheduleJobs" /></s:a>
											</div>
											
											<s:if test="hasPermission('Enhanced')">
												<div class="accord">
													<s:a href="Navigate" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
														<s:text name="i18n.modem.header.navigate" />
													</s:a>
												</div>
												
												<div class="departListLeft2">
													<s:a href="Modem/create" onclick="cancelPageRefresher(); return true;"><s:text name="i18n.modem.action.create" /></s:a>
													<s:a href="Modem/importModems" onclick="cancelPageRefresher(); return true;"><s:text name="i18n.modem.action.importModems" /></s:a>
													<s:a href="Modem/importVars" onclick="cancelPageRefresher(); return true;"><s:text name="i18n.modem.action.importVars" /></s:a>
												</div>
											</s:if>
											
											<div class="accord">
												<s:a href="Filter" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
													<s:text name="i18n.modem.header.filterByTag" />
												</s:a>
											</div>
											
											<div class="departListLeft2">
												<s:iterator value="allTags">
													<s:a href="Modems?qTagID=%{tagID}" onclick="cancelPageRefresher(); return true;"><s:property value="name" /></s:a>
												</s:iterator>
											</div>
										</div>
									</div>
								</div>
							</div>
							