							<div id="leftNav">
								<h3 id="leftNavTitle">
									<br />
									<s:text name="i18n.modems" />
								</h3>
								
								<div>
									<div id="departListLeft1">
										<div>
											<div class="accord">
												<s:a href="Update" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
													<s:text name="i18n.modem.header.updateThis" />
												</s:a>
											</div>
											
											<div class="departListLeft2">
												<s:if test="hasPermission('Enhanced')">
													<s:a href="edit?id=%{id}"><s:text name="i18n.modem.action.edit" /></s:a>
													<s:a href="delete?selModemID=%{id}"><s:text name="i18n.modem.action.delete" /></s:a>
													<s:a href="tag?selModemID=%{id}"><s:text name="i18n.modem.action.tag" /></s:a>
													<s:a href="untag?selModemID=%{id}"><s:text name="i18n.modem.action.untag" /></s:a>
												</s:if>
												
												<s:a href="viewVariables?id=%{id}"><s:text name="i18n.modem.action.viewVars" /></s:a>
												
												<s:if test="configScript != null">
													<s:a href="viewConfig?id=%{id}"><s:text name="i18n.modem.action.viewConfig" /></s:a>
												</s:if>
												
												<s:a href="../Job/create?selModemID=%{id}"><s:text name="i18n.modem.action.scheduleJobs" /></s:a>
											</div>
											
											<div class="accord">
												<s:a href="Navigate" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
													<s:text name="i18n.modem.header.navigate" />
												</s:a>
											</div>
											
											<div class="departListLeft2">
												<s:if test="hasPermission('Enhanced')">
													<s:a href="create"><s:text name="i18n.modem.action.create" /></s:a>
												</s:if>
												
												<s:a href="../Jobs?qModemID=%{id}"><s:text name="i18n.modem.action.viewJobs" /></s:a>
												<s:a href="../History?qModemID=%{id}"><s:text name="i18n.modem.action.viewHistory" /></s:a>
												<s:a href="../Tags?qModemID=%{id}"><s:text name="i18n.modem.action.viewTags" /></s:a>
												
												<s:if test="getRecentContactDate(modem) != null && getRecentStatus(modem).get('Latitude') != null && getRecentStatus(modem).get('Longitude') != null">
													<s:a id="googlelink" href="http://maps.google.com/maps?q=%{modem.label}@%{getRecentStatus(modem).get('Latitude')},%{getRecentStatus(modem).get('Longitude')}"><s:text name="i18n.modem.action.showInGoogleMaps" /></s:a>
													
													<!-- Amazingly, Struts does not include the 'target' attribute for links, so we need to add it manually. -->
													<script type="text/javascript">
														// Open the link in a new window
														var link = $("#googlelink");
														if (link && link[0]) {
															link[0].target = "_blank";
														}
													</script>
												</s:if>
											</div>
										</div>
									</div>
								</div>
							</div>
							