							<div id="leftNav">
								<h3 id="leftNavTitle">
									<br />
									<s:text name="i18n.preferences" />
								</h3>
								
								<div>
									<div id="departListLeft1">
										<div>
											<div class="accord">
												<s:a href="Apply" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
													<s:text name="i18n.preferences.header.apply" />
												</s:a>
											</div>
											
											<div class="departListLeft2">
												<s:a href="Save" onclick="selectAndSubmit(); return false;"><s:text name="i18n.preferences.action.save" /></s:a>
												<s:a href="Preferences?section=%{section}"><s:text name="i18n.preferences.action.cancel" /></s:a>
											</div>
											
											<div class="accord">
												<s:a href="Navigate" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
													<s:text name="i18n.preferences.header.navigate" />
												</s:a>
											</div>
											
											<div class="departListLeft2">
												<s:iterator value="sections">
													<s:a href="Preferences?section=%{key}"><s:property value="value" /></s:a>
												</s:iterator>
												
												<s:if test="hasPermission('Root')">
													<s:a href="User/edit?id=%{id}">
														<s:text name="i18n.preferences.action.editUser" />
													</s:a>
												</s:if>
												<s:else>
													<s:a href="User/passwd?id=%{id}">
														<s:text name="i18n.preferences.action.updatePassword" />
													</s:a>
												</s:else>
											</div>
										</div>
									</div>
								</div>
							</div>
							