						<div class="breadcrumb">
							<ul class="breadcrumb">
								<li><s:a href="../History"><s:text name="i18n.history.bc.allHistory" /></s:a></li>
								<li> | <s:text name="i18n.history.bc.viewHistory">
									<s:param><s:property value="entry.historyID" /></s:param>
								</s:text></li>
							</ul>
						</div>
						