						<div class="breadcrumb">
							<ul class="breadcrumb">
								<li><s:text name="i18n.preferences.bc.allPreferences">
									<s:param><s:property value="user.name" /></s:param>
								</s:text></li>
							</ul>
						</div>
						