				<p style="margin: 0; padding: 0;" />
				
				<div id="footer">
					<div class="footer" style="text-align: center; padding-top: 10px;">
						BlueTree Wireless Products Group |
						Web UI Version <s:property value="progVersion" /> |
						&copy; 2008 - 2011 SIXNET All Rights Reserved.
						<s:a href="http://www.sixnet.com/content/contact-us-1.cfm?killnav=1" cssClass="footer">Contact Us</s:a>
					</div>
				</div>
			</div>
