			<div id="container">
				<div id="banner">
					<s:a href="http://www.sixnet.com/" cssStyle="cursor: pointer;">
						<h1 id="logo"><s:text name="i18n.sixnetSolutions" /></h1>
					</s:a>
					
					<div id="cartLinks">
						<p class="gray">
							<img src="<s:property value='documentRoot' />/images/icon-mail.jpg" width="17" height="14" />
							<s:a href="mailto:support@sixnet.com" cssClass="gray">support@sixnet.com</s:a>
						</p>
					</div>
					
					<div class="gray" id="topLinks">
						<s:if test="%{isLoggedIn()}">
							<s:text name="i18n.loggedInAs" /> <s:a cssClass="loginBar" href="%{documentRoot}/User/view?id=%{user.userID}"><s:property value="user.name" /></s:a> &nbsp; |
							&nbsp; <s:a cssClass="loginBar" href="%{documentRoot}/Preferences"><s:text name="i18n.prefs" /></s:a> &nbsp; |
							&nbsp; <s:a cssClass="loginBar" href="%{documentRoot}/Logout"><s:text name="i18n.logout" /></s:a>
						</s:if>
						<s:else>
							<s:a cssClass="loginBar" href="%{documentRoot}/Login"><s:text name="i18n.login" /></s:a>
						</s:else>
						
						<div id="search">
							<!-- If we support searching, put it here -->
						</div>
						
						<s:if test="licenseKeyDaysRemaining != null">
							<s:if test="licenseKeyDaysRemaining <= 7">
								<div class="licenseExpiresUrgent">
									<s:text name="i18n.licenseExpiresIn">
										<s:param><s:property value="licenseKeyDaysRemaining" /></s:param>
									</s:text>
								</div>
							</s:if>
							<s:elseif test="licenseKeyDaysRemaining <= 30">
								<div class="licenseExpires">
									<s:text name="i18n.licenseExpiresIn">
										<s:param><s:property value="licenseKeyDaysRemaining" /></s:param>
									</s:text>
								</div>
							</s:elseif>
						</s:if>
					</div>
				</div>
				
				<script type="text/javascript">
					sfHover = function() {
						var sfEls = document.getElementById("nav").getElementsByTagName("LI");
						for (var i = 0; i < sfEls.length; i++) {
							sfEls[i].onmouseover = function() {
								this.className += " sfhover";
							};
							
							sfEls[i].onmouseout = function() {
								this.className = this.className.replace(new RegExp(" sfhover\\b"), "");
							};
						}
					};
					
					if (window.attachEvent) window.attachEvent("onload", sfHover);
				</script>
				
				<div id="container-nav" style="display: block;">
					<div id="nav-bar">
						<ul class="style1" id="nav" style="padding-left: 10px;">
							<s:if test="isLoggedIn()">
								<li><s:a href="%{documentRoot}/Batches?qDeleted=false"><s:text  name="i18n.BATCHES" /></s:a></li>
								<li><s:a href="%{documentRoot}/History"><s:text  name="i18n.HISTORY" /></s:a></li>
								<li><s:a href="%{documentRoot}/Jobs"><s:text     name="i18n.JOBS" /></s:a></li>
								<li><s:a href="%{documentRoot}/Logs"><s:text     name="i18n.LOGS" /></s:a></li>
								<li><s:a href="%{documentRoot}/Modems"><s:text   name="i18n.MODEMS" /></s:a></li>
								<li><s:a href="%{documentRoot}/Packages"><s:text name="i18n.PACKAGES" /></s:a></li>
								<li><s:a href="%{documentRoot}/Tags"><s:text     name="i18n.TAGS" /></s:a></li>
								
								<s:if test="hasPermission('Root')">
									<li><s:a href="%{documentRoot}/Users"><s:text    name="i18n.USERS" /></s:a></li>
									<li><s:a href="%{documentRoot}/Settings"><s:text name="i18n.SETTINGS" /></s:a></li>
									<li><s:a href="%{documentRoot}/Servers"><s:text  name="i18n.SERVERS" /></s:a></li>
								</s:if>
							</s:if>
						</ul>
					</div>
				</div>
				