			<s:head />
			<link rel="stylesheet" type="text/css" href="<s:property value='documentRoot' />/css/default.css" />
			<link rel="stylesheet" type="text/css" href="<s:property value='documentRoot' />/css/dropdowns.css" />
			<link rel="stylesheet" type="text/css" href="<s:property value='documentRoot' />/css/anylinkvertical.css" />
			<link rel="stylesheet" type="text/css" href="<s:property value='documentRoot' />/css/bvweb.css" />
			<link rel="stylesheet" type="text/css" href="<s:property value='documentRoot' />/css/smoothness/jquery-ui-1.7.1.custom.css" />
			
			<script type="text/javascript">
				var docroot = "<s:property value='documentRoot' />";

				updateSize = function() {
					var width, height;
	
					if (window.innerWidth) {
						// Everybody except IE
						width = window.innerWidth;
						height = window.innerHeight;
						
					} else if (document.documentElement &&
					           document.documentElement.clientWidth) {
					
						// IE
						width = document.documentElement.clientWidth;
						height = document.documentElement.clientHeight;
						
					} else if (document &&
					           document.body &&
					           document.body.clientWidth) {
						
						// IE
						width = document.body.clientWidth;
						height = document.body.clientHeight;

					} else if (window.width) {
						// Estimate based on the window size
						width = window.width = 10;
						height = window.height - 210;
						
					} else {
						// Wow, this must be an AWFUL browser, it doesn't
						//   ANY useful information whatsoever
						width = height = null;
					}

					var dyncss = docroot + "/cssgen.jsp";
					if (width) {
						dyncss += "?width=" + width + "&height=" + height;
					} 
	
					var link = document.createElement("link");
					link.setAttribute("rel", "stylesheet");
					link.setAttribute("type", "text/css");
					link.setAttribute("href", dyncss);
	
					document.getElementsByTagName("head")[0].appendChild(link);
				}

				updateSize();

				window.onresize = updateSize;
			</script>
			
			<script type="text/javascript" src="<s:property value='documentRoot' />/js/add-event.js"></script>
			<script type="text/javascript" src="<s:property value='documentRoot' />/js/popup.js"></script>
			<script type="text/javascript" src="<s:property value='documentRoot' />/js/validator.js"></script>
			<script type="text/javascript" src="<s:property value='documentRoot' />/js/jquery/jquery-1.3.2.min.js"></script>
			<script type="text/javascript" src="<s:property value='documentRoot' />/js/jquery/jquery-ui-1.7.1.custom.min.js"></script>
			
			<script type="text/javascript">
				$(document).ready(function() {
					$("#productTabs").tabs();
					$("#departListLeft1").accordion({ header: "div.accord", autoHeight: false, navigation: true });
					$("#departListLeft1").accordion("activate", '');
					$("#activeListLeft").accordion();	
					$("#activeListLeft").accordion({ header: "div.accord", autoHeight: true, navigation: true });
				});
			</script>
			
			<script type="text/javascript" src="<s:property value='documentRoot' />/js/anylinkvertical.js">
			/***********************************************
			* AnyLink CSS Menu script- Â© Dynamic Drive DHTML code library (www.dynamicdrive.com)
			* This notice MUST stay intact for legal use
			* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
			***********************************************/
			</script>
			
