<%-- This requires:
 % section -- The name of the section, as found in the user preferences (like
 %   'batches')
 % sectionLink -- The name of the list page (like 'Batches')
 % itemID -- The name that item IDs are passed under (like 'batchID')
 % selItemID -- The name that selected item IDs are passed under (like
 %   'selBatchID')
 % formName -- The name of the form to submit for re-sorting; it should include
 %   a field named 'sortOn' that will receive the sorting order
 --%>

										<s:hidden name="pageStart" value="%{pageStart}" theme="simple" />
										<s:hidden name="pageSize" value="%{pageSize}" theme="simple" />
										<s:hidden name="sortOn" value="%{sortOn}" theme="simple" />
										
										<tr>
											<s:if test="#doSelections">
												<th></th>
											</s:if>
											
											<s:iterator value="%{getPrefTags(#section + '/columns', 'column')}" var="tag">
												<s:set var="sort" value="#tag.getStringAttribute('sort')" />
												<s:set var="title" value="#tag.getStringAttribute('title')" />
												
												<s:if test="#sort.length() == 0">
													<th><s:text name="%{#title}" /></th>
												</s:if>
												<s:else>
													<th>
														<s:a href="%{documentRoot + '/' + #sectionLink}"
														     onclick="%{#formName}.sortOn.value='%{addSortColumn(#sort)}'; %{#formName}.submit(); return false;">
															
															<s:text name="%{#title}" />
														</s:a>
													</th>
												</s:else>
											</s:iterator>
										</tr>
										
										<s:iterator value="invisibleIDs" var="id">
											<s:hidden name="%{#itemID}" value="%{#id}" />
										</s:iterator>
										
										<s:if test="#doSelections">
											<s:iterator value="invisibleSelections" var="id">
												<s:hidden name="%{#selItemID}"
												          value="%{#id}"
												          id="hidden_%{#formName}_%{#itemID}_%{#id}" />
											</s:iterator>
										</s:if>										
										
										<s:iterator value="items" var="item">
											<tr class="<s:property value='%{getStatus(#item)}' />">
												<s:if test="#includeHidden">
													<s:hidden name="%{#itemID}" value="%{id}" />
												</s:if>
												
												<s:if test="#doSelections">
													<td><s:checkbox name="%{#selItemID}" value="%{isSelected(id)}" fieldValue="%{id}" id="%{#formName}_%{#itemID}_%{id}" theme="simple" /></td>
												</s:if>
												
												<s:iterator value="%{getPrefTags(#section + '/columns', 'column')}">
													<s:set var="name" value="stringContents" />
													<s:set var="format" value="%{getStringAttribute('format')}" />
													<s:set var="type" value="%{getStringAttribute('type')}" />
													<s:set var="link" value="%{getStringAttribute('link')}" />
													<s:set var="title" value="%{getStringAttribute('title')}" />
													
													<s:if test="#type.equals('property')">
														<s:set var="value" value="#name(#item)" />
													</s:if>
													<s:else>
														<s:set var="value" value="#name(#action)" />
													</s:else>
													
													<s:if test="#link.length() > 0">
														<s:set var="link" value="%{translateLink(#link, #item)}" />
													</s:if>
													
													<td title="<s:text name='%{#title}' />">
														<s:if test="#link.length() > 0">
															<s:a href="%{#link}">
																<s:if test="#value == null">
																	<i><s:text name="i18n.emptyProp" /></i>
																</s:if>
																<s:else>
																	<s:property value="formatData(#format, #value)" />
																</s:else>
															</s:a>
														</s:if>
														<s:else>
															<s:if test="#value == null || ('' + #value).length() == 0">
																<i><s:text name="i18n.emptyProp" /></i>
															</s:if>
															<s:else>
																<s:property value="formatData(#format, #value)" />
															</s:else>
														</s:else>
													</td>
												</s:iterator>
											</tr>
										</s:iterator>
										
										<tr>
											<s:if test="#doSelections">
												<th></th>
											</s:if>
											
											<s:iterator value="%{getPrefTags(#section + '/columns', 'column')}" var="tag">
												<s:set var="sort" value="#tag.getStringAttribute('sort')" />
												<s:set var="title" value="#tag.getStringAttribute('title')" />
												
												<s:if test="#sort.length() == 0">
													<th><s:text name="%{#title}" /></th>
												</s:if>
												<s:else>
													<th>
														<s:a href="%{documentRoot + '/' + #sectionLink}"
														     onclick="%{#formName}.sortOn.value='%{addSortColumn(#sort)}'; %{#formName}.submit(); return false;">
															
															<s:text name="%{#title}" />
														</s:a>
													</th>
												</s:else>
											</s:iterator>
										</tr>
										