<%-- This requires:
 % formName -- The name of the form containing the paginated data
 % actionName -- The name of the action name that will redisplay the same data
 %
 % You may also provide these:
 % doSelections -- If provided and true, will display select none/all links
 %   Requires the form named formName to have a field named 'selection' that
 %     receives values such as 'none' and 'all'
 % doPages -- If provided and true, will display page navigation links
 %   Requires the form named formName to have a field named 'startRow' that
 %     receives the index of the starting row for the page to display, and a
 %     field named 'maxRows' that receives the maximum number of rows to display
 % doRefresher -- If provided and true, 'cancelPageRefresher()' will be called
 %   during any link activation
 --%>
 
								<s:if test="!#doRefresher">
									<%-- cancelPageRefresher() apparently doesn't exist, so create one --%>
									<script type="text/javascript">
										cancelPageRefresher = function() { }
									</script>
								</s:if>
								
								<table id="pagenav">
									<tr>
										<td class="selections">
											<s:if test="#doSelections">
												<s:a href="%{#actionName}/None" onclick="cancelPageRefresher(); %{#formName}.selection.value='none'; %{#formName}.action='%{actionName}'; %{#formName}.submit(); return false;"><s:text name="i18n.selectNone" /></s:a>
												| <s:a href="%{#actionName}/All" onclick="cancelPageRefresher(); %{#formName}.selection.value='all'; %{#formName}.action='%{actionName}'; %{#formName}.submit(); return false;"><s:text name="i18n.selectAll" /></s:a>
											</s:if>
										</td>
										
										<td class="moveBack">
											<s:if test="#doPages && pageStart > 0">
												<s:a href="%{#actionName}/First" onclick="cancelPageRefresher(); %{#formName}.pageStart.value=%{firstPage}; %{#formName}.action='%{actionName}'; %{#formName}.submit(); return false;"><s:text name="i18n.firstPage" /></s:a>
												| <s:a href="%{#actionName}/Previous" onclick="cancelPageRefresher(); %{#formName}.pageStart.value=%{previousPage}; %{#formName}.action='%{actionName}'; %{#formName}.submit(); return false;"><s:text name="i18n.previousPage" /></s:a>
											</s:if>
										</td>
										
										<td class="pageNumber">
											<s:if test="#doPages">
												<s:text name="i18n.pageNumber">
													<s:param value="pageNumber" />
													<s:param value="totalPages" />
												</s:text>
											</s:if>
										</td>
										
										<td class="moveForward">
											<s:if test="#doPages && pageStart + pageSize < matchCount">
												<s:a href="%{#actionName}/Next" onclick="cancelPageRefresher(); %{#formName}.pageStart.value=%{nextPage}; %{#formName}.action='%{actionName}'; %{#formName}.submit(); return false;"><s:text name="i18n.nextPage" /></s:a>
												| <s:a href="%{#actionName}/Last" onclick="cancelPageRefresher(); %{#formName}.pageStart.value=%{lastPage}; %{#formName}.action='%{actionName}'; %{#formName}.submit(); return false;"><s:text name="i18n.lastPage" /></s:a>
											</s:if>
										</td>
									</tr>
								</table>
								
