							<div id="leftNav">
								<h3 id="leftNavTitle">
									<br />
									<s:text name="i18n.historyEntries" />
								</h3>
								
								<div>
									<div id="departListLeft1">
										<div>
											<div class="accord">
												<s:a href="Filter" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
													<s:text name="i18n.history.header.filterByBatch" />
												</s:a>
											</div>
											
											<div class="departListLeft2">
												<s:iterator value="liveBatches">
													<s:a href="History?qBatchID=%{batchID}" onclick="cancelPageRefresher(); return true;"><s:property value="name" /></s:a>
												</s:iterator>
											</div>
										</div>
									</div>
								</div>
							</div>
							