							<div id="leftNav">
								<h3 id="leftNavTitle">
									<br />
									<s:text name="i18n.logs" />
								</h3>
								
								<div>
									<div id="departListLeft1">
										<div>
											
										</div>
									</div>
								</div>
							</div>
							