										<tr>
											<th><s:text name="i18n.server.property.name" /></th>
											<th><s:text name="i18n.server.property.jobTypes" /></th>
											<th><s:text name="i18n.server.property.modemTypes" /></th>
											<th><s:text name="i18n.server.property.dbTypes" /></th>
										</tr>
										
										<s:iterator value="servers" var="serverName">
											<tr>
												<td><s:property /></td>
												
												<td>
													<ul>
														<s:iterator value="%{getJobs(#serverName)}">
															<li><s:property /></li>
														</s:iterator>
													</ul>
												</td>
												
												<td>
													<ul>
														<s:iterator value="%{getModems(#serverName)}">
															<li><s:property /></li>
														</s:iterator>
													</ul>
												</td>
												
												<td>
													<ul>
														<s:iterator value="%{getDatabases(#serverName)}">
															<li><s:property /></li>
														</s:iterator>
													</ul>
												</td>
												
												<s:if test="#drawShutdown">
													<td>
														<s:form action="Server/shutdown">
															<s:hidden name="serverName" />
															
															<s:submit value="%{getText('i18n.server.action.shutdown')}" />
														</s:form>
													</td>
												</s:if>
											</tr>
										</s:iterator>
										
										<tr>
											<th><s:text name="i18n.server.property.name" /></th>
											<th><s:text name="i18n.server.property.jobTypes" /></th>
											<th><s:text name="i18n.server.property.modemTypes" /></th>
											<th><s:text name="i18n.server.property.dbTypes" /></th>
										</tr>