							<div id="leftNav">
								<h3 id="leftNavTitle">
									<br />
									<s:text name="i18n.error" />
								</h3>
								
								<div id="menu">
									
								</div>
							</div>
							