							<div id="leftNav">
								<h3 id="leftNavTitle">
									<br />
									<s:text name="i18n.login.header.login" />
								</h3>
								
								<!-- No context-specific actions can be taken from here -->
							</div>
							