							<div id="leftNav">
								<h3 id="leftNavTitle">
									<br />
									<s:text name="i18n.jobs" />
								</h3>
								
								<div>
									<div id="departListLeft1">
										<div>
											<s:if test="hasPermission('Enhanced')">
												<div class="accord">
													<s:a href="Update" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
														<s:text name="i18n.job.header.updateSelected" />
													</s:a>
												</div>
												
												<div class="departListLeft2">
													<s:a href="Job/delete" onclick="cancelPageRefresher(); Jobs.action='Job/delete'; Jobs.submit(); return false;"><s:text name="i18n.job.action.delete" /></s:a>
												</div>
											</s:if>
											
											<div class="accord">
												<s:a href="Navigate" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
													<s:text name="i18n.job.header.navigate" />
												</s:a>
											</div>
											
											<div class="departListLeft2">
												<s:a href="Modems?createJobs=true" onclick="cancelPageRefresher(); return true;"><s:text name="i18n.job.action.scheduleJobs" /></s:a>
											</div>
											
											<div class="accord">
												<s:a href="Filter" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
													<s:text name="i18n.job.header.filterByBatch" />
												</s:a>
											</div>
											
											<div class="departListLeft2">
												<s:iterator value="liveBatches">
													<s:a href="Jobs?qBatchID=%{batchID}" onclick="cancelPageRefresher(); return true;"><s:property value="name" /></s:a>
												</s:iterator>
											</div>
										</div>
									</div>
								</div>
							</div>
							