							<div id="leftNav">
								<h3 id="leftNavTitle">
									<br />
									<s:text name="i18n.jobs" />
								</h3>
								
								<div id="menu">
									<div id="departListLeft1">
										<div>
											<div class="accord">
												<s:a href="Update" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
													<s:text name="i18n.job.header.updateThis" />
												</s:a>
											</div>
											
											<div class="departListLeft2">
												<s:if test="hasPermission('Enhanced')">
													<s:a href="edit.action?id=%{id}"><s:text name="i18n.job.action.edit" /></s:a>
													<s:a href="delete?selJobID=%{id}"><s:text name="i18n.job.action.delete" /></s:a>
												</s:if>
											</div>
											
											<div class="accord">
												<s:a href="Navigate" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
													<s:text name="i18n.job.header.navigate" />
												</s:a>
											</div>
											
											<div class="departListLeft2">
												<s:a href="../History?qJobID=%{id}"><s:text name="i18n.job.action.viewHistory" /></s:a>
											</div>
										</div>
									</div>
								</div>
							</div>
							