							<div id="leftNav">
								<h3 id="leftNavTitle">
									<br />
									<s:text name="i18n.tags" />
								</h3>
								
								<div>
									<div id="departListLeft1">
										<div>
											<s:if test="hasPermission('Enhanced')">
												<div class="accord">
													<s:a href="Apply" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
														<s:text name="i18n.tag.header.apply" />
													</s:a>
												</div>
												
												<div class="departListLeft2">
													<s:a href="edit" onclick="updateConfig.submit(); return false;"><s:text name="i18n.tag.action.save" /></s:a>
													<s:a href="view?id=%{id}"><s:text name="i18n.tag.action.cancel" /></s:a>
												</div>
											</s:if>
										</div>
									</div>
								</div>
							</div>
							