							<div id="leftNav">
								<h3 id="leftNavTitle">
									<br />
									<s:text name="i18n.tags" />
								</h3>
								
								<div>
									<div id="departListLeft1">
										<div>
											<s:if test="hasPermission('Enhanced')">
												<div class="accord">
													<s:a href="Update" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
														<s:text name="i18n.tag.header.updateSelected" />
													</s:a>
												</div>
												
												<div class="departListLeft2">
													<s:a href="Tag/delete" onclick="cancelPageRefresher(); Tags.action='%{documentRoot}/Tag/delete'; Tags.submit(); return false;"><s:text name="i18n.tag.action.delete" /></s:a>
												</div>
												
												<div class="accord">
													<s:a href="Navigate" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
														<s:text name="i18n.tag.header.navigate" />
													</s:a>
												</div>
												
												<div class="departListLeft2">
													<s:a href="Tag/create" onclick="cancelPageRefresher(); return true;"><s:text name="i18n.tag.action.create" /></s:a>
												</div>
											</s:if>
										</div>
									</div>
								</div>
							</div>
							