							<div id="leftNav">
								<h3 id="leftNavTitle">
									<br />
									<s:text name="i18n.tags" />
								</h3>
								
								<div>
									<div id="departListLeft1">
										<div>
											<s:if test="hasPermission('Enhanced')">
												<div class="accord">
													<s:a href="Update" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
														<s:text name="i18n.tag.header.updateThis" />
													</s:a>
												</div>
												
												<div class="departListLeft2">
													<s:a href="editConfig?id=%{id}"><s:text name="i18n.tag.action.editConfig" /></s:a>
												</div>
											</s:if>
											
											<div class="accord">
												<s:a href="Navigate" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
													<s:text name="i18n.tag.header.navigate" />
												</s:a>
											</div>
											
											<div class="departListLeft2">
												<s:a href="view?id=%{id}"><s:text name="i18n.tag.action.viewTag" /></s:a>
											</div>
										</div>
									</div>
								</div>
							</div>
							