							<div id="leftNav">
								<h3 id="leftNavTitle">
									<br />
									<s:text name="i18n.tags" />
								</h3>
								
								<div>
									<div id="departListLeft1">
										<div>
											<s:if test="hasPermission('Enhanced')">
												<div class="accord">
													<s:a href="Update" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
														<s:text name="i18n.tag.header.updateThis" />
													</s:a>
												</div>
												
												<div class="departListLeft2">
													<s:a href="edit?id=%{id}"><s:text name="i18n.tag.action.edit" /></s:a>
													<s:a href="delete?selTagID=%{id}"><s:text name="i18n.tag.action.delete" /></s:a>
												</div>
											</s:if>
											
											<div class="accord">
												<s:a href="Navigate" cssStyle="text-decoration: none;" onclick="return clickreturnvalue()">
													<s:text name="i18n.tag.header.navigate" />
												</s:a>
											</div>
											
											<div class="departListLeft2">
												<s:if test="hasPermission('Enhanced')">
													<s:a href="create"><s:text name="i18n.tag.action.create" /></s:a>
													<s:a href="%{documentRoot}/Modem/create?applyTag=%{id}"><s:text name="i18n.tag.action.createModem" /></s:a>
													<s:a href="%{documentRoot}/Modem/importModems?tagID=%{id}"><s:text name="i18n.tag.action.importModems" /></s:a>
												</s:if>
												
												<s:a href="%{documentRoot}/Modems?qTagID=%{id}"><s:text name="i18n.tag.action.viewModems" /></s:a>
											</div>
										</div>
									</div>
								</div>
							</div>
							