						<div class="breadcrumb">
							<ul class="breadcrumb">
								<li><s:a href="../Tags"><s:text name="i18n.tag.bc.allTags" /></s:a></li>
								<li> | <s:text name="i18n.tag.bc.deleteTags" /></li>
							</ul>
						</div>
						