						<div class="breadcrumb">
							<ul class="breadcrumb">
								<li><s:a href="../Tags"><s:text name="i18n.tag.bc.allTags" /></s:a></li>
								
								<s:if test="id != -1">
									<li> | <s:a href="view.action?id=%{id}"><s:text name="i18n.tag.bc.viewTag">
										<s:param><s:property value="tag.name" /></s:param>
									</s:text></s:a></li>
									<li> | <s:text name="i18n.tag.bc.editTag">
										<s:param><s:property value="tag.name" /></s:param>
									</s:text></li>
								</s:if>
								<s:else>
									<li> | <s:text name="i18n.tag.bc.createTag" /></li>
								</s:else>
							</ul>
						</div>
						