						<div class="breadcrumb">
							<ul class="breadcrumb">
								<li><s:a href="../Tags"><s:text name="i18n.tag.bc.allTags" /></s:a></li>
								<li> | <s:a href="view?id=%{id}"><s:text name="i18n.tag.bc.viewTag">
									<s:param><s:property value="tag.name" /></s:param>
								</s:text></s:a></li>
								<li> | <s:text name="i18n.tag.bc.viewConfigScript">
									<s:param><s:property value="tag.name" /></s:param>
								</s:text></li>
							</ul>
						</div>
						